#bin/obj
TTTD_Framework/bin
TTTD_Framework/TTTD_Builder/bin
TTTD_Framework/TTTD_Builder/obj
TTTD_Framework/TTTD_Builder.Lib/bin
TTTD_Framework/TTTD_Builder.Lib/obj
TTTD_Framework/TTTD_Builder.Lib.JSONReaderWriter/bin
TTTD_Framework/TTTD_Builder.Lib.JSONReaderWriter/obj
TTTD_Framework/TTTD_Framework/bin
TTTD_Framework/TTTD_Framework/obj
TTTD_Framework/TTTD_WindowsStore/bin
TTTD_Framework/TTTD_WindowsStore/obj

#nuget packages
TTTD_Framework/packages/Newtonsoft.Json.7.0.1/lib
TTTD_Framework/packages/Newtonsoft.Json.7.0.1/tools
TTTD_Framework/packages/AutoMapper.4.1.1/lib
TTTD_Framework/packages/AutoMapper.4.1.1/tools

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
